<html>
    <head>
        <title>Classic Cipher Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
      </head>
      <body>
        <h1>Classic Cipher Tool</h1>
        <p>Choose a cipher to use:</p>
        <form action="" method="post">
          <!-- radio encrypt/decrypt -->
          <div>
            <fieldset id="enctype">
              <legend>Choose whether to encrypt or to decrypt</legend>
              <input type="radio" name="action" value="encrypt">Encrypt
              <input type="radio" name="action" value="decrypt">Decrypt
            </fieldset>
          </div>
          <!-- input type select -->
          <div>
            <select name="cipher">
              <option value="vigenere">Vigenère Cipher</option>
              <option value="affine">Affine Cipher</option>
            </select>
          </div>

          <div>
            <fieldset id="inputtype">
              <legend>Input type:</legend>
              <input type="radio" name="action" value="file">File
              <input type="radio" name="action" value="text">Text
            </fieldset>
          </div>
          <!-- plaintext -->
          <div>
            <textarea name="plaintext" id="plaintext" placeholder="Enter plaintext here"></textarea>
          </div>
    </body>
</html>