<html>
    <head>
        <title>Classic Cipher Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
      </head>
      <body>
        <h1>{{ ciphertype_name }} Cipher</h1>
        <form action="/{{ ciphertype }}/encrypt" method="post" name="form">
          <div>
            <fieldset id="enctype">
              <legend>Choose whether to encrypt or to decrypt</legend>
              <input type="radio" name="action" value="encrypt">Encrypt
              <input type="radio" name="action" value="decrypt">Decrypt
            </fieldset>
          </div>

          <div>
            <fieldset id="inputtype">
              <legend>Input type:</legend>
              <input type="radio" name="action" value="file">File
              <input type="radio" name="action" value="text">Text
            </fieldset>
          </div>
          <!-- plaintext -->
          <fieldset>
            <legend>Enter plaintext here</legend>
            <textarea name="plaintext" id="plaintext" placeholder="Enter plaintext here"></textarea>
          </fieldset>

          <div>
            <input type="submit" value="Submit">
          </div>
        </form>

        <div>
          <fieldset>
            <legend>Result</legend>
            <textarea name="plaintext" id="plaintext" readonly></textarea>
            <div>
              <button>Copy</button>
              <button>Save</button>
            </div>
          </fieldset>
        </div>
    </body>
</html>